* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECDFCC;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;                       
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.site-header {
    background-color: #AAB396;
    color: #3d281e;
    padding: 10px;
    height: 150px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    border-bottom: 3px solid black;
}

.nav-image {
    align-items: center;
    display: flex;
    align-items: center;
}

.nav-image img {
    height: 300px;
    width: 300px;
    margin-top: 70px;
}

.nav-title {
    font-size: 25px;
    margin-left: -60px;
    font-family:'Times New Roman', Times, serif;
}

.main-nav {
    margin-left: 32%;
    align-items: center;
    display: flex;
    padding: 15;
}

.nav-item a {
    font-size: 25px;
    font-weight: bold;
    margin: 100px;
    transition: 0.2s;
}

a:hover {
    color: #7e6457;
    text-decoration: underline;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3d281e;
    font-weight: bold;
    margin-top: 20px;
    font-size: 50px;
}

.introduction-text {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7e6457;
    font-weight: bold;
}

.site-footer {
    height: 120px;
    background-color: #AAB396;
    font-weight: bold;
    border-top: 3px solid black;
}

.author-name{
    margin-top: -110px;
    display: flex;
    color: #674636;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.copy-info {
    margin-top: 10px;
    display: flex;
    color: #674636;
    font-weight: bold;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}


.author-email{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #674636;
}

.name {
    color: #3d281e;
}